<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="nullPointers">
        <meta name="keywords" content="cahtbot, chat, AI, nullPointers">
        <meta name="Description" content="Intelligent Enterprise Assistant: Enhancing Organizational Efficiency through AI-driven Chatbot Integration">
        <title>nullPointers</title>
        <link rel="stylesheet" href="styles/home.css">
    <body>
        <div class="header">
            <header class="header-content">
                <a href="#logo" id="logo">
                    <img src="/images/favicon.svg" alt="Logo" id="logo-icon">
                    <span id="logo-text">NeuraBot</span>
                </a>

                <nav class="nav">
                    <a href="#home" class="nav_link">Home</a>
                    <a href="/chatbot" class="nav_link">Chatbot</a>
                    <a href="#pricing" class="nav_link">Pricing</a>
                    <a href="#blog" class="nav_link">Blog</a>
                    <a href="#about" class="nav_link">About</a>
                </nav>

                <a href="#contact" id="contact-button">Contact Us</a>

                <button type="menu" id="menu-button">
                    <img src="/images/menu-button.svg" alt="menu-button" id="menu-icon">
                </button>
            </header>
        </div>

        <div class="content">
            <section class="main-section">
                <div class="content-left">
                    <p class="section-label">Very proud to introduce</p>
                    <h1 class="section-title">NeuraBot</h1>
                    <p class="section-description">
                        Welcome to our cutting-edge organizational platform! Our chatbot offers instant answers in just 3 seconds, handling HR, IT support, and event queries effortlessly. With a document summarizer that works in 18 seconds, responsive design, and 2FA security, the platform is built to streamline workplace operations and enhance productivity.
                    </p>
                    <div class="button-group">
                        <a href="#start" id="start-button">Start Now</a>
                        <a href="#tour" id="tour-button">Take Tour</a>
                    </div>
                </div>

                <div class="content-right">
                    <div class="image-container">
                        <img src="/images/hero-section.jpg" alt="Hero Section Image" id="hero-section-image">
                    </div>
                </div>
            </section>
        </div>

        <div class="company-container">
            <h2 id="company-title">Trusted by the best</h2>
            <div class="company-grid">
                <div class="company-logo">
                    <img src="/images/google.svg" alt="google" class="company-logo-img" id="google-logo">
                    <span class="company-logo-text">Google</span>
                </div>
                
                <div class="company-logo">
                    <img src="/images/microsoft.svg" alt="microsoft" class="company-logo-img" id="microsoft-logo">
                    <span class="company-logo-text">Microsoft</span>
                </div>

                <div class="company-logo">
                    <img src="/images/linkedin.svg" alt="linkedin" class="company-logo-img" id="linkedin-logo">
                    <span class="company-logo-text">Linkedin</span>
                </div>

                <div class="company-logo">
                    <img src="/images/VectorEdu.svg" alt="VectorEdu" class="company-logo-img" id="VectorEdu-logo">
                    <span class="company-logo-text">Nvidia</span>
                </div>
            </div>
        </div>

        <div class="feature-container">
            <div class="feature-content">
                
                <div class="main-info">
                    <h2 class="main-title">Our competitive advantage</h2>
                    <p class="main-description">
                        Explore our key features: a personalized chatbot for tailored support and a document decoder for fast, efficient information extraction.
                    </p>
                </div>

                <div class="feature-grid">
                    
                    <!-- Card 1 -->
                    <div class="feature-card">
                        <div class="icon-container">
                            <img src="/images/PersonalizedLearn.svg" alt="Personalized Learning" class="feature-svg">
                        </div>
                        <div class="feature-info">
                            <div class="feature-title">
                                Rapid-Fire Chatbot
                            </div>
                            <div class="feature-description">
                                Experience lightning-fast responses with our intelligent chatbot, delivering accurate answers and streamlining tasks in just 3 seconds!
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="feature-card">
                        <div class="icon-container">
                            <img src="/images/affordability.svg" alt="Affordability" class="feature-svg">
                        </div>
                        <div class="feature-info">
                            <div class="feature-title">
                                Document Decoder
                            </div>
                            <div class="feature-description">
                                Our advanced document parser enables you to extract key information, criticall words, understand the document in-depth and even provides a summary for the entire document in a matter of seconds!
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="feature-card">
                        <div class="icon-container">
                            <img src="/images/InnovativeTech.svg" alt="Innovative Technology" class="feature-svg">
                        </div>
                        <div class="feature-info">
                            <div class="feature-title">
                                Comprehensive Backend
                            </div>
                            <div class="feature-description">
                                Built on the MEN stack, our platform offers seamless performance, enabling fast, secure, and scalable operations without compromising efficiency.
                            </div>
                        </div>
                    </div>

                    <!-- Card 4 -->
                    <div class="feature-card">
                        <div class="icon-container">
                            <img src="/images/IndustryPatner.svg" alt="Responsive Support" class="feature-svg">
                        </div>
                        <div class="feature-info">
                            <div class="feature-title">
                                Insight
                            </div>
                            <div class="feature-description">
                                Capture and analyse employee queries to gain insights on common issues and trends, helping you optimise organisational responses.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="testimonial-container">
            <div class="testimonial-content">
                <h2>Meet Our Team - Null Pointers</h2>
                <div class="testimonial-grid">

                    <!-- Card 1 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync, a true game-changer! Flexible content, tailored assessments, and excellent 
                            support. Integral to our school district's success.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar3.png" alt="Avatar 3" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Pratyaksh Saluja</h3>
                            <p class="testimonial-desc">Team Lead</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync transformed our family's learning journey. Safe, interactive, and progress 
                            tracking features are invaluable for parents.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar2.jpg" alt="Avatar 2" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Suhas Kanwar</h3>
                            <p class="testimonial-desc">Development</p>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync, a true game-changer! Flexible content, tailored assessments, and excellent 
                            support. Integral to our school district's success.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar5.jpg" alt="Avatar 3" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Priyansh Singh</h3>
                            <p class="testimonial-desc">ML</p>
                        </div>
                    </div>
                    
                    <!-- Card 4 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync, a true game-changer! Flexible content, tailored assessments, and excellent 
                            support. Integral to our school district's success.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar6.jpg" alt="Avatar 3" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Ninad Wakode</h3>
                            <p class="testimonial-desc">Gen AI</p>
                        </div>
                    </div>

                    <!-- Card 5 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync revolutionized my classroom! Engaging content and teacher resources make 
                            learning enjoyable. Highly recommended for educators.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar1.png" alt="Avatar 1" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Shreya Khandelwal</h3>
                            <p class="testimonial-desc">UI/UX</p>
                        </div>
                    </div>

                    <!-- Card 6 -->
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            “StudySync, a true game-changer! Flexible content, tailored assessments, and excellent 
                            support. Integral to our school district's success.”
                        </div>
                        <div class="testimonial-avatar">
                            <img src="/images/avatar4.jpg" alt="Avatar 3" class="testimonial-avatar-image">
                        </div>
                        <div class="testimonial-details">
                            <h3 class="testimonial-name">Saksham Garg</h3>
                            <p class="testimonial-desc">Version Control</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="newsletter-container">
            <div class="newsletter-content">

                <!-- Left Part -->
                <div class="news-left">
                    <img src="/images/newsletter-image.png" loading="lazy" alt="Newsletter Background Image">
                </div>

                <!-- Right Part -->
                 <div class="news-right">
                    <div class="news-info">
                        <h2>Get the latest updates</h2>
                        <p>Sign up for our newsletter</p>
                    </div>
                    <form>
                        <input type="email" placeholder="Email">
                        <button>Send</button>
                    </form>
                    <div class="privacy-policy">
                        By signing up to our newsletter you agree to our
                        <a href="#terms_of_service" class="news-link">Terms of Service</a>
                        and
                        <a href="#privacy_policy" class="news-link">Privacy policy</a>
                    </div>
                 </div>

            </div>
        </div>

        <div class="footer-container">
            <footer class="footer">

                <div class="footer-top">
                    <div class="comp-logo">
                        <a href="#StudySync" class="logo-link">
                            <img src="/images/favicon.svg" alt="StudySync logo" class="logo-svg">
                            NeuraBot
                        </a>
                        <!-- <p class="filler-text">Seamless Learning for Brighter Futures.</p> -->
                        <div class="social">
                            <a href="#instagram" class="social-link">
                                <img src="/images/instagram.svg" alt="Instagram Logo" class="social-icon">
                            </a>
                            <a href="#twitter" class="social-link">
                                <img src="/images/twitter.svg" alt="Twitter Logo" class="social-icon">
                            </a>
                            <a href="#linkedin" class="social-link">
                                <img src="/images/linkedin-copy.svg" alt="Linkedin Logo" class="social-icon">
                            </a>
                            <a href="#github" class="social-link">
                                <img src="/images/github.svg" alt="Github Logo" class="social-icon">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer-grid">
                    <!-- Column 1 -->
                    <div class="footer-grid-column">
                        <div class="footer-grid-heading">
                            Products
                        </div>
                        <ul class="footer-links-list">
                            <li>
                                <a href="#overview" class="footer-link">Overview</a>
                            </li>
                            <li>
                                <a href="#solutions" class="footer-link">Solutions</a>
                            </li>
                            <li>
                                <a href="#pricing" class="footer-link">Pricing</a>
                            </li>
                            <li>
                                <a href="#customers" class="footer-link">Customers</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Column 2 -->
                    <div class="footer-grid-column">
                        <div class="footer-grid-heading">
                            Company
                        </div>
                        <ul class="footer-links-list">
                            <li>
                                <a href="#about" class="footer-link">About</a>
                            </li>
                            <li>
                                <a href="#investor_relations" class="footer-link">Investor Relations</a>
                            </li>
                            <li>
                                <a href="#jobs" class="footer-link">Jobs</a>
                            </li>
                            <li>
                                <a href="#press" class="footer-link">Press</a>
                            </li>
                            <li>
                                <a href="#blog" class="footer-link">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Column 3 -->
                    <div class="footer-grid-column">
                        <div class="footer-grid-heading">
                            Support
                        </div>
                        <ul class="footer-links-list">
                            <li>
                                <a href="#contact" class="footer-link">Contact</a>
                            </li>
                            <li>
                                <a href="#documentation" class="footer-link">Documentation</a>
                            </li>
                            <li>
                                <a href="#chat" class="footer-link">Chat</a>
                            </li>
                            <li>
                                <a href="#faq" class="footer-link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Column 4 -->
                    <div class="footer-grid-column">
                        <div class="footer-grid-heading">
                            Legal
                        </div>
                        <ul class="footer-links-list">
                            <li>
                                <a href="#terms_of_service" class="footer-link">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#privacy_policy" class="footer-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#cookie_settings" class="footer-link">Cookie Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </footer>
            <div class="footer-copyright">
                &copy; 2024 — Present StudySync. All rights are reserved.
            </div>
        </div>
        <script src="home.js"></script>
    </body>
</html>