<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="nullPointers">
        <meta name="keywords" content="chatbot, chat, AI, nullPointers">
        <meta name="Description" content="Intelligent Enterprise Assistant: Enhancing Organizational Efficiency through AI-driven Chatbot Integration">
        <title>nullPointers</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <aside class="sidebar">
                <div class="logo"></div>
                <nav class="menu">
                    <ul>
                        <li class="active">AI Chat Helper</li>
                        <li>Templates</li>
                        <li>My Projects</li>
                        <li>Statistics</li>
                        <li>Settings</li>
                        <li>Updates & FAQ</li>
                    </ul>
                </nav>
                <button class="logout"><a href="/login" style="text-decoration: none; color: white;">Log out</a></button>
            </aside>
            <main class="content">
                <header>
                    <h1>NeuraBot</h1>
                </header>
                <div class="editor">
                    <div class="chatbot">
                        <div class="chat-area">
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="prompt-input" placeholder="Type your query here">
                        <button class="submit-btn">Send</button>
                    </div>
                </div>
            </main>
        </div>
        <script src="app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </body>
</html>