<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="nullPointers">
        <meta name="keywords" content="cahtbot, chat, AI, nullPointers">
        <meta name="Description" content="Intelligent Enterprise Assistant: Enhancing Organizational Efficiency through AI-driven Chatbot Integration">
        <title>nullPointers</title>
        <link rel="stylesheet" href="styles/summarizer.css">
    </head>
    <body>
        <div class="container">
            <h1>This is summarizer</h1>
        </div>
        <script src="summarizer.js"></script>
    </body>
</html>