/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    font-family: "dm sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #070734; 
    color: #070734;
    display: flex;
    height: 100vh;
    /* text-align: center; */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #070734;
    /* background-image: linear-gradient(to right top,#070734,#15157a); */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 17px;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 15px;
    cursor: pointer;
}

.menu ul li.active {
    font-weight: bold;
}

.logout {
    background-color: #212f5b;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    font-size: 18px;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content header input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
}

.editor {
    border-color: #a1a1af;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    background-color: #f4f4f4;
    border-style: solid; 
    border-radius: 8px;
    padding: 20px;
     /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 2px 2px 2px 2px #8686f4; */
    
}

.chatbot {
    flex-grow: 1; /* Makes the chat area flexible to take available space */
    /* background-color: #010f34e7;#180f3a */
    /* background-image: linear-gradient(to right,#070734, ); */
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    height: 100%; 

}

.input-box {
    padding: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input-box input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.input-box button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    background-color: #212f5b;
}

.NeuraBot{
    text-align: center;
}

.user-chat {
    box-shadow: 0px 0px 1px 1px #000000 ;
    /* display: inline-block; */
    padding: 10px;
    background-color: #010a26; 
    border-radius: 14px; 
    max-width: 50%;
    word-wrap: break-word; 
    margin: 5px 0; 
    float: right; 
    clear: both;
    font-size: 15px;
}

.response-chat{
    box-shadow: 0px 0px 1px 1px #222121 ;
    /* display: inline-block; */
    padding: 10px;
    background-color: #434855 ; /*#30343d*/
    border-radius: 14px; 
    max-width: 70%;
    word-wrap: break-word; 
    margin: 5px 0; 
    float: left; 
    clear: both;
    font-size: 15px;
}
