/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #070734;
    color: #070734;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #070734;
    /* background-image: linear-gradient(to right top,#070734,#15157a); */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 17px;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 15px;
    cursor: pointer;
}

.menu ul li.active {
    font-weight: bold;
}

.logout {
    background-color: #212f5b;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    font-size: 18px;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    position: relative;
}

.editor {
    border-color: #a1a1af;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f4f4f4;
    border: 2px solid #a1a1af;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden; 
}


.chatbot {
    flex-grow: 1;
    color: #FFF;
    padding: 10px;
    border-radius: 8px;
    /* background-color: #180f3a; */
    overflow-y: auto; 
    max-height: calc(100% - 60px); 
}

.chat-area {
    padding-bottom: 20px; 
}

.input-box {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.input-box input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.input-box button {
    padding: 10px 20px;
    background-color: #212f5b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.user-chat, .response-chat {
    padding: 10px;
    border-radius: 14px; 
    border-radius: 14px; 
    max-width: 50%;
    border-radius: 14px;
    max-width: 50%;
    word-wrap: break-word;
    margin: 5px 0;
    font-size: 15px;
}

.user-chat {
    background-color: #010a26;
    float: right;
    clear: both;
    max-width: 50%;
    box-shadow: 0px 0px 1px 1px #000000;
}

.response-chat {
    background-color: #434855;
    float: left;
    clear: both;
    max-width: 70%;
    box-shadow: 0px 0px 1px 1px #222121;
}
