@import url('https://fonts.googleapis.com/css?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #070734;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 330px;
    min-width: 330px;
    background-color: #070734;
    color: white;
    padding: 20px;
    font-size: 19px;
    flex-shrink: 0;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 25px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

.upload-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.upload-container i {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
}

.upload-container p {
    font-size: 18px;
    margin: 10px 0;
}

.upload-container a {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

input[type="file"] {
    display: none;
}

.success-message {
    display: none;
}

.popup {
    display: none;
}

.chat-box {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    /* justify-content: flex-end; */
    border-radius: 8px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background-color: #f8f9fa;
}

.chat-messages {
    /* flex-grow: 1; */
    overflow-y:scroll;
    padding: 10px;
    max-height: 450px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    position:sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.user-message, .assistant-message {
    padding: 10px;
    border-radius: 14px;
    max-width: 70%;
    margin: 5px 0;
    font-size: 15px;
}

.user-message {
    background-color: #010a26;
    color: #fff;
    float: right;
}

.assistant-message {
    background-color: #434855;
    color: #fff;
    float: left;
}

.hidden {
    display: none;
}